{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_survey.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div style="cardqd">
                <div class="row">
                    <div class="col-xl-12 col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">{{ survey.title }}</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <p class="text-muted text-center">{{ survey.description }}</p>
                                <form id="survey-form" action="{% url 'fill_survey' survey.id %}" method="POST" class="p-4">
                                    {% csrf_token %}
                                    {% for question in questions %}
                                    <div class="mb-4 question-item" data-required="{{ question.isrequired }}">
                                        <h5>{{ forloop.counter }}. {{ question.question_text }}</h5>
                                        {% if question.isrequired %}
                                        <span class="text-danger">*</span>
                                        <p class="error-message text-danger">This question is required</p>
                                        {% endif %}
                                        {% if question.type == 0 %} {# Single Choice #}
                                        {% for option in question.option_set.all %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="answers[{{ question.id }}]" value="{{ option.id }}">
                                            <label class="form-check-label">{{ option.optiontext }}</label>
                                        </div>
                                        {% endfor %}
                                        {% elif question.type == 1 %} {# Multiple Choice #}
                                        {% for option in question.option_set.all %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="answers[{{ question.id }}]" value="{{ option.id }}">
                                            <label class="form-check-label">{{ option.optiontext }}</label>
                                        </div>
                                        {% endfor %}
                                        {% elif question.type == 2 %} {# Text Question #}
                                        <textarea class="form-control" name="answers[{{ question.id }}]" rows="3" placeholder="Please enter your answer"></textarea>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    <p>Choose anonymity:</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="anonymous" value="1">
                                        <label class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="anonymous" value="0" checked>
                                        <label class="form-check-label">No</label>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">Submit Survey</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/fill_survey.js' %}"></script>

{% endblock %}
